{% extends "base.html" %}
{% block content %}
	<div class="container my-5">
		<div class="row">
			<div class="col-4 text-center">
				<img src="{{ user_profile.get_picture_url }}" class="mb-2 rounded-circle" width='256px'>
			</div>
			<div class="col-8 mt-3">
				<h2>{{ user_profile.get_fullname }}</h2>
				<hr>	
				<p>About {{ user_profile.first_name }}...</p>
				{% if user_profile == user %}
					<a href="{% url 'profile' %}" class="btn btn-warning">
						<i class="fas fa-user-edit"></i>
						Edit profile
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% if teacher %}
		{% if courses %}
			<div class="container mt-5">
				<h3>{{ user_profile.first_name }}'s courses :</h3>
				<div class="row">
				{% for course in courses %}
					{% include "courses/course_item.html" %}
				{% endfor %}
			</div>
		</div>
		{% endif %}
	{% elif student %}
	{% endif %}
{% endblock content %}