{% extends "./chapter_base.html" %}

{% block chapter_content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form method="POST" action=".">
					{% csrf_token %}
					<p>Are you sure you want to delete <span class="text-danger">{{ course.name }}</span> chapter?</p>
					<input type="submit" name="confirm" value="Yes, Delete" class="btn btn-danger px-3 float-right">
					<button type="button" onclick="location.href='{% url "courses:chapter_list" course.slug %}'" class="btn btn-outline-danger px-3 mx-3 float-right">
						Cancel
					</button>
				</form>
			</div>			
		</div>
	</div>
{% endblock chapter_content %}