{% extends "./chapter_base.html" %}

{% load crispy_forms_tags %}

{% block chapter_content %}
	<div class="container">
		<form method="POST" action="." enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-12">
					<div id="div_id_name" class="form-group">
						{{ form.name|as_crispy_field }}
					</div>
					<div id="div_id_detail" class="form-group">
						{{ form.detail|as_crispy_field }}
					</div>
				</div>
			</div>
			<input type="submit" value="Save" class="float-right btn btn-primary">
		</form>
		{% url 'courses:chapter:detail' course.slug chapter.slug  as detail_url %}
		<a href="{{ next|default:detail_url }}">
			<button class="float-right mr-3 btn btn-outline-primary">Cancel</button>
		</a>
	</div>
{% endblock chapter_content %}